@media print {
    #GumbZaIspis{
        display: none;
    }
}

.tablica{
    width: 300px;
    border: 1px solid;
    border-collapse: collapse;
    border-color: black;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    padding: 10px;
}
.šifra{
    text-align: left;
    font-family: Arial;
    font-size: 15px;
}
.opis {
    max-width: 33%;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
}
.materijal {
    max-width: 33%;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
}
.cijena {
    text-align: right;
    font-family: Arial;
    font-size: 15px;
}